:root {
  --text-color: #f5f5f5; /* Text color */
  --box-color: #a9a9a9;
  --background-color: #808080; /* Gainsboro Gray */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Sono", sans-serif;
  padding: 2.5rem;
}

.header {
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--box-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fact-form {
  background-color: var(--box-color);
  margin-bottom: 2rem;
  padding: 1rem 1.2rem;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 16rem 2fr;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  margin-top: 6px;
  line-height: 1;
}

.fact {
  font-size: 1.2rem;
  line-height: 1.4;
  background-color: var(--box-color);
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
  letter-spacing: -1px;

  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.tag {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  color: var(--background-color);
  padding: 3px 10px 0 10px;
}

.vote-button {
  margin-left: auto;
}

ul {
  list-style: none;
}
