:root {
  --background-color: #44403c; /* stone 700 */
  --stone600-color: #57534e;
  --stone500-color: #78716c;
  --stone400-color: #a8a29e;
  --stone200-color: #e7e5e4;

  --hover-color: #7e22ce;

  --orange-color: #fed7aa;
  --lime-color: #d9f99d;
  --green-color: #bbf7d0;
  --ingigo-color: #c7d2fe;
  --violet-color: #ddd6fe; /* violet300 */
  --pink-color: #fbcfe8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--stone200-color);
  font-family: "Sono", sans-serif;
  padding: 2.5rem 3.5rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--stone500-color);
  border-radius: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 4.25rem;
  height: 4.25rem;
}

.fact-form {
  background-color: var(--stone500-color);
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}

.fact-form input,
.fact-form select {
  width: 14rem;
  padding: 1rem;
  color: inherit;
  font-family: inherit;
  background-color: var(--stone400-color);
  border: none;
  border-radius: 100px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 1.1rem;
}

/* .fact-form input::placeholder {
  color: var(--stone200-color);
} */

.main {
  display: grid;
  grid-template-columns: 16rem 2fr;
  gap: 3rem;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  margin-top: 6px;
  line-height: 1;
}

.category {
  margin-bottom: 1rem;
}

.fact {
  font-size: 1.2rem;
  line-height: 1.4;
  background-color: var(--stone500-color);
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
  letter-spacing: -1px;

  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.tag {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  color: var(--stone600-color);
  padding: 3px 10px 0 10px;
  border-radius: 100px;
}

.vote-button {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-button button {
  background-color: var(--stone400-color);
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.vote-button button:hover {
  background-color: var(--stone600-color);
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  margin-left: 10px;
  color: var(--stone600-color);
  text-decoration: none;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: var(--hover-color);
}

.btn {
  font-size: 1.1rem;
  font-family: "Coiny", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(
    135deg,
    #fed7aa,
    #d9f99d,
    #bbf7d0,
    #c7d2fe,
    #ddd6fe,
    #fbcfe8
  );
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 1rem 0 13px;
  transition: all 0.3s;
  color: var(--stone500-color);
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 1.5rem;
  padding: 20px 32px 17px;
}

.btn-all {
  margin-bottom: 1rem;
  width: 100%;
}

.btn-sub {
  width: 100%;
  background-image: none;
}
